#drinks {
  @include flex-align-center(column)
}

.card-img {
  filter: brightness(80%);
}

.card-img-overlay {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 22px !important;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  padding: 1vw;
  background-color: rgba($teal, 0.6);
  text-shadow: 2px 2px 1px rgba(143, 85, 20, 1);
}

.card {
  box-shadow: 3px 6px 5px rgba(#000000, 0.4);
  border: 0px solid black !important;
  @include size-hover-transition;
}

.drink-col-item{
  &:not(:nth-of-type(1)) {
    margin-top: 1.5vh;
  }
}

@media only screen and (min-width: 576px) {
  .drink-col-item{
    &:not(:nth-child(2)) {
      margin-top: 1.5vh;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .drink-col-item{
    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      margin-top: 1.5vh;
    }
  }
}