.filter-wrapper {
  @include flex-align-center(column);
  justify-content: space-around;
  input {
    margin-top: 1rem;
    width: 200px;
  }
}

.form-select {
  border-radius: 0px !important;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .filter-wrapper {
    flex-direction: row;
    align-items: unset;
  input {
    margin-top: 0;
    margin-left: 17vw;
  }
}
}