html > body {
  margin: 0;
  background-color: transparent;
  @include flex-align-center(column);
}

html {
  height: 100%;
  background-image: 
  linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/background.png');
  @include background-center;
  background-attachment: fixed;
}

#root {
  @include flex-align-center(column);
  justify-content: center;
  margin: 5vh 0;
  width: 80vw;
}

main {
  @include flex-align-center(column);
  background-color: rgba(#e9e9e9ad, 0.6);
  max-width: 1200px;
}

// ! Breakpoints

@media only screen and (min-width: 576px) {
  #root {
    margin-top: 10vh;
  }
  
  main {
    min-height: 47vh;
    width: 80vw;
  }
}